@import "../../../styles";

.container {
  height: 100%;
}

.row {
  height: 100%;
}

.login-title-row {
  margin-bottom: 8%;
}

.login-title-text {
  color: white;
}

.card {
  background-color: $rehab-blue;
}

.login-button-enabled {
  background-color: $success;
}

.login-button-disabled {
  background-color: $rehab-grey;
}

.login-icon-enabled {
  color: white;
}

.login-icon-disabled {
  color: black
}
