<br>
<br>
<h1 class="text-center">GetRehabilitated</h1>
<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<div class="text-center" style="padding:50px 0">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="logo">Login</div>

    <!-- Main Form -->
    <div class="login-form-1">
      <div class="main-login-form">

        <!--Email-->
        <div class="form-group">
          <input type="text" class="form-control" id="email" placeholder="Email"
                 required
                 [(ngModel)]="user.email" name="email"
                 #email="ngModel">
          <div [hidden]="email.valid || email.pristine"
               class="alert alert-warning">
            <div [hidden]="!email.hasError('required')">Please enter <strong>email</strong></div>
          </div>
        </div>

        <!--Password-->
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Password"
                 required
                 [(ngModel)]="user.password" name="password"
                 #password="ngModel">
          <div [hidden]="password.valid || password.pristine"
               class="alert alert-warning">
            <div [hidden]="!password.hasError('required')">Please enter a <strong>password</strong></div>
          </div>
        </div>
        <button type="submit" class="login-button"
                [disabled]="!loginForm.form.valid"
                (click)="login(email.value, password.value)">OK
        </button>
      </div>

    </div>
    <!-- end:Main Form -->
  </form>
</div>
