<h1 class="center">Milestones
  <i class="fa fa-plus-circle pull-right add-button"
     (click)="open(newMilestone)"></i></h1>
<!--Paginated list of milestones-->
<div *ngIf="paginatedMilestones">
  <div *ngFor="let milestone of paginatedMilestones"
       class="card"
       [ngClass]="{'selected': currentCategory === milestone}">
    <div class="card-body">
      <h5 class="card-title">{{milestone.title}}</h5>
    </div>
  </div>
  <!--Awesome pagination component-->
  <ngb-pagination [collectionSize]="allMilestones.length"
                  [(page)]="page"
                  [maxSize]="5"
                  [pageSize]="5"
                  (pageChange)="paginate($event)">
  </ngb-pagination>
</div>

<!--New Milestone-->
<ng-template #newMilestone let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Milestone</h4>
  </div>
  <div class="modal-body">
    <input #milestoneInput="ngModel"
           style="width: 100%"
           name="milestoneName"
           minlength="3"
           ngModel
           required
           type="text"
           placeholder="Enter the name of the milestone">
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger"
            (click)="c('Close click')">Close
    </button>
    <button [disabled]="!milestoneInput.valid"
            type="button"
            class="btn btn-success pull-right"
            (click)=" c('Close click')">Add
    </button>
  </div>
</ng-template>
