<h1 class="center">Milestones
  <i *ngIf="allowEdit" class="fa fa-plus-square pull-right add-button clickable"
     (click)="modalService.open(newMilestone)"></i></h1>
<!--Paginated list of milestones-->
<div *ngIf="milestones">
  <div *ngFor="let milestone of milestones; let i = index"
       class="card clickable"
       (click)="onMilestoneSelected(milestone); currentMilestone = milestone"
       [ngClass]="{'selected': currentMilestone?.uid === milestone.uid}">
    <div class="card-body">
      <h5 class="card-title">{{i + 1}} - {{milestone.title}}</h5>
    </div>
  </div>
</div>

<!--New Milestone-->
<ng-template #newMilestone let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Milestone</h4>
  </div>
  <div class="modal-body">
    <input #milestoneTitle="ngModel"
           style="width: 100%"
           name="milestoneTitle"
           minlength="3"
           ngModel
           required
           type="text"
           placeholder="Enter the title of the milestone">
    <input #milestonePurpose="ngModel"
           style="width: 100%"
           name="milestonePurpose"
           minlength="3"
           ngModel
           required
           type="text"
           placeholder="Enter the purpose of the milestone">
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger clickable"
            (click)="c('Close click')">Close
    </button>
    <!--NgClass check whether or not the requirements are fulfilled, if not,
    then the button is disabled and without a fat finger-->
    <button [disabled]="!milestoneTitle.valid || !milestonePurpose.valid"
            type="button"
            [ngClass]="{'btn btn-success pull-right clickable' : milestoneTitle.valid && milestonePurpose.valid,
                        'btn btn-success pull-right' : true}"
            (click)="addMilestone(milestoneTitle.value, milestonePurpose.value); c('Close click')">Add
    </button>
  </div>
</ng-template>
