<h1>Visits
  <i *ngIf="allowEdit" class="fa fa-plus-circle pull-right add-button clickable"
     (click)="modalService.open(newVisit)"></i>
</h1>
<div *ngIf="allVisits">
  <div *ngFor="let visit of allVisits"
       class="card clickable" (click)="onVisitSelected(visit); currentVisit = visit"
       [ngClass]="{'selected': currentVisit === visit}">
    <div class="card-body">
      <h5 class="card-title"
          style="text-align: center">{{visit.date | date: 'd/M - yyyy'}}</h5>
    </div>
  </div>
</div>

<!--NEW VISIT-->
<ng-template #newVisit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Visit</h4>
  </div>
  <div class="modal-body">
    <input #visitInput="ngModel"
           style="width: 100%"
           name="visitNote"
           minlength="3"
           ngModel
           required
           type="text"
           placeholder="Enter the note of the visit">
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger"
            (click)="c('Close click')">Close
    </button>
    <!--NgClass check whether or not the requirements are fulfilled, if not,
   then the button is disabled and without a fat finger-->
    <button [disabled]="!visitInput.valid"
            type="button"
            [ngClass]="{'btn btn-success pull-right clickable' : visitInput.valid,
                        'btn btn-success pull-right' : true}"
            (click)="addVisit(visitInput.value); c('Close click')">Add
    </button>
  </div>
</ng-template>

