<h1 class="center">Categories
  <i class="fa fa-plus-square pull-right add-button clickable"
     (click)="modalService.open(newCategory)"></i></h1>
<!--Paginated list of categories-->
<div *ngIf="paginatedCategories">
  <div *ngFor="let category of paginatedCategories"
       class="card clickable" (click)="onCategorySelected(category); currentCategory = category"
       [ngClass]="{'selected': currentCategory === category}">
    <div class="card-body">
      <h5 class="card-title">{{category.name}}</h5>
    </div>
  </div>
  <!--Awesome pagination component-->
  <ngb-pagination [collectionSize]="allCategories.length"
                  [(page)]="page"
                  [maxSize]="5"
                  [pageSize]="5"
                  (pageChange)="paginate($event)">
  </ngb-pagination>
</div>

<!--NEW CATEGORY-->
<ng-template #newCategory let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Category</h4>
  </div>
  <div class="modal-body">
    <input #categoryInput="ngModel"
           style="width: 100%"
           name="categoryName"
           minlength="3"
           ngModel
           required
           type="text"
           placeholder="Enter the name of the category">
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger clickable"
            (click)="c('Close click')">Close
    </button>
    <!--NgClass check whether or not the requirements are fulfilled, if not,
    then the button is disabled and without a fat finger-->
    <button [disabled]="!categoryInput.valid"
            type="button"
            [ngClass]="{'btn btn-success pull-right fat-finger' : categoryInput.valid,
                        'btn btn-success pull-right' : true}"
            (click)="addCategory(categoryInput.value); c('Close click')">Add
    </button>
  </div>
</ng-template>
