<div class="container">
  <div *ngIf="$loadedMilestone | async as loadedMilestone">
    <div *ngIf="allowEdit">
      <div class="row">
        <div class="col-md-2">
          <i class="fa fa-trash fa-2x clickable pull-left delete-button" (click)="deleteVisit()"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <!--Title-->
      <div class="col center">
        <div *ngIf="!editMode; then evaluationTitle else editEvaluationTitle"></div>
        <!--SAVED-->
        <ng-template #evaluationTitle>
          <h1 disabled class="center">{{loadedMilestone.title}}</h1>
        </ng-template>

        <!--EDIT-->
        <ng-template #editEvaluationTitle>
          <input type="text"
                 [(ngModel)]="loadedMilestone.title"
                 class="edit-mode center header"
                 #titleInput
                 name="titleInput">
        </ng-template>
      </div>

      <!--Delete and edit-->
      <div class="col-md-2">
        <div *ngIf="!editMode; then editIcon else saveIcon"></div>
        <!--Edit icon-->
        <ng-template #editIcon>
          <i class="fa fa-pencil-square fa-2x clickable pull-right editSaveButton edit-button"
             (click)="toggleEvaluationEdit()"></i>
        </ng-template>
        <!--Save icon-->
        <ng-template #saveIcon>
          <i class="fa fa-floppy-o fa-2x clickable pull-right editSaveButton save-button"
             (click)="onEvaluationUpdated(loadedMilestone)"></i>
        </ng-template>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <!--MILESTONE DATE-->
          <h3 class="center">{{loadedMilestone.visits[visitIndex].date | date: 'EEEE d/M - yyyy'}}</h3>
        </div>


        <!--Purpose-->
        <div class="row">
          <div class="col-md-6">
            <h5 class="center">Purpose</h5>
            <div *ngIf="!editMode; then evaluationPurpose else editEvaluationPurpose"></div>

            <!--SAVED-->
            <ng-template #evaluationPurpose>
          <textarea disabled
                    [(ngModel)]="loadedMilestone.purpose"
                    rows="4">
          </textarea>
            </ng-template>
            <!--EDIT-->
            <ng-template #editEvaluationPurpose>
          <textarea type="text"
                    [(ngModel)]="loadedMilestone.purpose"
                    class="edit-mode"
                    #evaluationInput
                    name="evaluationInput"
                    rows="4">
          </textarea>
            </ng-template>
          </div>

          <!--Note-->
          <div class="col-md-6">
            <h5 class="center">Note</h5>
            <div *ngIf="!editMode; then evaluationNote else editEvaluationNote"></div>

            <!--SAVED-->
            <ng-template #evaluationNote>
          <textarea disabled
                    rows="4"
                    [(ngModel)]="loadedMilestone.visits[visitIndex].note">
          </textarea>
            </ng-template>

            <!--EDIT-->
            <ng-template #editEvaluationNote>
          <textarea type="text"
                    [(ngModel)]="loadedMilestone.visits[visitIndex].note"
                    class="edit-mode"
                    #evaluationInput
                    name="evaluationInput"
                    rows="4">
          </textarea>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
