@import "../../../styles";

.logoutBtn {
  color: $rehab-grey;
}

.router-link-active {
  border-radius: 15%;
  background-color: $secondary;
}

/*-----LINKS IN NAVBAR SHOULD ALWAYS BE WHITE*/

a {
  color: white;
}

a:hover {
  border-radius: 15%;
  color: white;
  background-color: $rehab-dark-blue;
}
