<div class="card">
  <div class="container">
    <div class="row">

      <!--GOAL HEADLINE-->
      <div class="col-md-12">
        <h3>Goal
          <div *ngIf="allowEdit">
            <!--Mode-->
            <div *ngIf="!editMode; then editIcon else saveIcon"></div>

            <!--Saved-->
            <ng-template #editIcon>
              <i class="fa fa-edit fa-1x pull-right edit-button clickable" (click)="toggleGoalEdit()"></i>
            </ng-template>

            <!--Edit-->
            <ng-template #saveIcon>
              <i class="fa fa-floppy-o fa-1x pull-right save-button clickable" (click)="onGoalUpdated()"></i>
            </ng-template>
          </div>
        </h3>
      </div>
    </div>

    <!--GOAL TEXT-->
    <div class="row">
      <div *ngIf="!editMode; then goal else editGoal"></div>
      <ng-template #goal>
  <textarea disabled class="goal-text" rows="2">
  {{currentGoal}}
  </textarea>
      </ng-template>
      <ng-template #editGoal>
  <textarea type="text"
            rows="5"
            required
            [(ngModel)]="currentGoal"
            class="edit-mode goal-text"
            #goalInput
            name="goalInput">
  {{currentGoal}}
  </textarea>
      </ng-template>
    </div>
  </div>
</div>
