<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col">
      <!--INSTITUTION INFO-->
      <h1 style="text-align: center">{{institution.name}}</h1>
      <h1 style="text-align: center">{{institution.department}}</h1>

      <br>

      <a style="display:block; text-align: center"
         href="{{institution.website}}">{{institution.website}}</a>

      <br>

      <h3 style="text-align: center">{{institution.email}}</h3>

      <br>

      <h3 style="text-align: center">{{institution.phone}}</h3>

      <hr>

      <!--THERAPIST INFO-->
      <h1 style="text-align: center">Your Therapist</h1>

      <br>

      <h3 style="text-align: center">{{therapist.name}}</h3>

      <br>

      <h3 style="text-align: center">{{therapist.email}}</h3>

      <br>

      <h3 style="text-align: center">Contact Hours: {{therapist.contactHours}}</h3>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
