<h1>Exercises
  <i *ngIf="allowAddExercise" class="fa fa-plus-circle pull-right add-button"
     (click)="addExercise()"></i>
</h1>
<div *ngIf="allExercises && paginatedExercises">
  <div *ngFor="let exercise of paginatedExercises"
       class="card" (click)="onExerciseSelected(exercise); currentExercise = exercise"
       [ngClass]="{'selected': currentExercise === exercise}">
    <div class="card-body">
      <h5 class="card-title">{{exercise.title}}</h5>
    </div>
  </div>
  <ngb-pagination [collectionSize]="allExercises.length"
                  [(page)]="page"
                  [maxSize]="5"
                  [pageSize]="5"
                  (pageChange)="paginate($event)">
  </ngb-pagination>
</div>

