<h1 class="center">Clients
  <i class="fa fa-plus-circle pull-right add-button"
     (click)="open(newClient)"></i></h1>

<div *ngIf="paginatedClients">
  <div *ngFor="let client of paginatedClients"
       class="card" (click)="onClientSelected(client); currentClient = client"
       [ngClass]="{'selected': currentClient === client}">
    <div class="card-body">
      <h5 class="card-title">{{client.fullName}}</h5>
    </div>
  </div>
  <ngb-pagination [collectionSize]="allClients.length"
                  [(page)]="page"
                  [maxSize]="5"
                  [pageSize]="5"
                  (pageChange)="paginate($event)">
  </ngb-pagination>
</div>


<!--NEW CLIENT-->
<ng-template #newClient let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">New Client</h4>
  </div>
  <div class="modal-body">

    <!--Client name-->
    <input #clientName="ngModel"
           style="width: 100%"
           name="clientName"
           minlength="3"
           ngModel
           required
           type="text"
           placeholder="Clients name">

    <!--Client Address-->
    <input #clientAddress="ngModel"
           style="width: 100%"
           name="clientAddress"
           minlength="3"
           ngModel
           required
           type="text"
           placeholder="Address 123, ZIPCODE CITY">

    <!--Client Phone-->
    <input #clientPhone="ngModel"
           style="width: 100%"
           name="clientPhone"
           minlength="8"
           ngModel
           required
           type="number"
           placeholder="Phone number">

    <!--Client Email (Pattern checks if it is a valid email)-->
    <input #clientEmail="ngModel"
           style="width: 100%"
           name="clientEmail"
           minlength="3"
           ngModel
           required
           type="email"
           pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,63})+$"
           placeholder="Clients@email.com">

    <!--Validation on Client's Email-->
    <div [hidden]="clientEmail.valid || clientEmail.pristine"
         class="alert alert-warning">
      <div [hidden]="!clientEmail.hasError('required')">Email is required</div>
      <div [hidden]="!clientEmail.hasError('pattern')">Badly formatted Email <small><b> example: client@mail.com</b></small></div>
    </div>

    <!--Validation on Client's name-->
    <div [hidden]="clientName.valid || clientName.pristine"
         class="alert alert-warning">
      <div [hidden]="!clientName.hasError('required')">Client's name is required</div>
      <div> Client's name must be atleast 3 characters</div>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-danger"
            (click)="c('Close click')">Close
    </button>
    <button [disabled]="!clientName.valid || !clientEmail.valid"
            type="button"
            class="btn btn-success pull-right"
            (click)="addClient(clientName.value, clientAddress.value, clientPhone.value, clientEmail.value);
            c('Close click')">Add
    </button>
  </div>
</ng-template>
