<div class="container">
  <div class="row">

    <!--Clients contact information-->
    <div class="col-md-12">
      <rehab-manage-clients-contact-information [currentModel]="currentClient"></rehab-manage-clients-contact-information>
    </div>

    <!--Clients Diagnosis-->
      <div class="col-md-7">
        <rehab-manage-clients-diagnosis></rehab-manage-clients-diagnosis>
      </div>

    <!--Clients goal-->
      <div class="col-md-5">
        <rehab-manage-clients-goal></rehab-manage-clients-goal>
      </div>

    <!--Delete-->
    <div class="col-md-12">
      <button class="btn btn-danger" (click)="deleteClient()">Delete</button>
    </div>

  </div>
</div>
