
<div class="container">
  <div class="row" *ngIf="currentClient">
    <div class="col-md-7">

      <!--Clients contact information-->
      <div class="col">

        <!--Delete/Evaluation-->
        <div class="row">
          <div class="col">
            <i class="fa fa-trash fa-2x pull-left delete-button clickable"
               (click)="deleteClient()"></i>
          </div>
          <div class="col">
            <i class="fa fa-bookmark fa-2x pull-right evaluation-button clickable"
            (click)="evaluationsClicked.emit()"></i>
          </div>
        </div>

        <rehab-manage-clients-contact-information
          [selectedClient]="currentClient"></rehab-manage-clients-contact-information>
      </div>

      <!--Clients Diagnosis-->
      <div class="col">
        <rehab-manage-clients-diagnosis
          (diagnosisUpdated)="currentClient.rehabilitationPlan.diagnosis = $event; updateRehabilitationPlan()"
          [currentDiagnosis]="currentClient.rehabilitationPlan.diagnosis"></rehab-manage-clients-diagnosis>
      </div>

      <!--Clients goal-->
      <div class="col">
        <rehab-manage-clients-goal
          (goalUpdated)="currentClient.rehabilitationPlan.goal = $event; updateRehabilitationPlan()"
          [currentGoal]="currentClient.rehabilitationPlan.goal"></rehab-manage-clients-goal>
      </div>
    </div>

    <!--YouTube assignments-->
    <div class="col-md-5">
      <!--Insert Youtube HTML in HERE!-->
      <rehab-assign-exercise [exercises]="currentClient.rehabilitationPlan.exercises"
                             (exerciseUnassigned)="unassignExerciseFromClient($event)"
                             (exerciseAssigned)="assignExerciseToClient($event)"></rehab-assign-exercise>
    </div>
  </div>
</div>
