<h1>Exercises
  <i class="fa fa-plus-circle pull-right add-button clickable"
     (click)="modalService.open(assignExercise)"></i></h1>
<div class="list-group" *ngIf="exercises">
  <div style="align-items: center"
       class="row"
       *ngFor="let exercise of exercises; let i = index">
    <!--INDEX NUMBER-->
    <div class="col-1">
      <h3 class="pull-left">{{i + 1}}.</h3>
    </div>

    <!--EXERCISE-->
    <div class="col">
      <div class="card"
           [ngClass]="{'selected': currentExerciseUid === exercise.uid}">
        <img class="card-img-top" src="{{exercise.imgUrl}}" alt="Card image cap">
        <div class="card-body">
          <div align="center">
            <!--The Exercise list information-->
            <h5 align="center"
                [ngClass]="{'white-text': currentExerciseUid === exercise.uid}">{{exercise.title}}</h5>
            <i class="fa fa-trash fa-2x delete-button clickable"
               (click)="onExerciseUnassigned(exercise.uid)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Assign Exercise Modal-->
<ng-template #assignExercise let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Assign Exercise</h4>
  </div>
  <div class="modal-body">
    <rehab-manage-exercises-list (exerciseSelected)="assignSelectedExercise($event); c('Close click')"
                                 [allowAddExercise]="false"></rehab-manage-exercises-list>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-primary"
            (click)="routeToExercise();
                     c('Close click')">Go to Exercises
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="c('Close click')">Close
    </button>
  </div>
</ng-template>
