<h1>Exercises</h1>
<div *ngFor="let exercise of exercises"
     class="card" style="text-align: center">
  <div class="card-header">
    <h3 class="pull-left">{{exercise.title}}</h3>
    <button class="btn btn-danger pull-right"
            (click)="onExerciseUnassigned(exercise.uid)">X</button>
  </div>
  <div class="card-body">
    <img src="/assets/placeholders/youtube-icon.png">
    <h5 class="card-title">{{exercise.repetition}}</h5>
    <p class="card-text">{{exercise.description}}</p>
  </div>
</div>
