<div class="container">
  <div *ngIf="evaluationMode; then ClientEvaluations else ManageClients"></div>

  <!--Normal Manage Clients View-->
  <ng-template #ManageClients>
    <div class="row">
      <!--Clients list-->
      <div class="col-md-4">
        <rehab-manage-clients-list (clientSelected)="onClientSelected($event)"
                                   [currentClientUid]="selectedClient?.uid"></rehab-manage-clients-list>
      </div>

      <!--Clients detail-->
      <div class="col-md-8">
        <rehab-manage-clients-detail *ngIf="selectedClient"
                                     (evaluationsClicked)="evaluationMode = true; loadClientMilestones()"
                                     [currentClientUid]="selectedClient.uid"></rehab-manage-clients-detail>
      </div>
    </div>
  </ng-template>

  <!--Client Evaluations View-->
  <ng-template #ClientEvaluations>
    <button class="btn btn-primary clickable" (click)="setEvaluationMode(false)">Back</button>
    <div class="row">
      <div class="col-md-3">
        <!--MILESTONES-->
        <rehab-milestone-list (milestoneSelected)="onSelectedMilestone($event)"
                              (milestoneCreated)="addMilestone($event)"
                              [milestones]="selectedClient.rehabilitationPlan.milestones"></rehab-milestone-list>
      </div>
      <div class="col-md-3">
        <!--VISITS-->
        <rehab-visit-list *ngIf="selectedMilestoneUid"
                          [selectedMilestoneUid]="selectedMilestoneUid"
                          (visitAdded)="addVisitToMilestone($event)"
                          (visitSelected)="onSelectedVisit($event)"></rehab-visit-list>
      </div>
      <div class="col-md-6">
        <!--Milestone Detail-->
        <rehab-milestone-detail *ngIf="selectedVisitIndex !== NO_SELECTED_VISIT_INDEX"
                                (updateMilestone)="updateMilestone($event)"
                                (deletedVisit)="removeVisitFromMilestone()"
                                [milestoneUid]="selectedMilestoneUid"
                                [visitIndex]="selectedVisitIndex"></rehab-milestone-detail>
      </div>
    </div>
  </ng-template>
</div>
