<div class="container">
  <div class="row">
    <div class="col">
      <!--YOUTUBE COMPONENT-->
      <rehab-youtube-player #youtubePlayer [videoId]="currentVideoId"></rehab-youtube-player>
      <!--VIDEO INFO COMPONENT-->
      <rehab-exercise-information #exerciseInformation></rehab-exercise-information>
    </div>
    <div class="col">
      <!--VIDEO PLAYLIST COMPONENT-->
      <rehab-exercise-list (exerciseSelected)="notifyOnNewVideoSelected($event)"></rehab-exercise-list>
    </div>
  </div>
</div>
