<div class="card">
  <div class="container">
    <div class="row">
      <!--DIAGNOSIS HEADLINE-->
      <div class="col">
        <h3>Diagnosis
          <div *ngIf="allowEdit">
            <div *ngIf="!editMode; then editIcon else saveIcon"></div>
            <ng-template #editIcon>
              <i class="fa fa-edit fa-1x pull-right" (click)="toggleEdit()"></i>
            </ng-template>
            <ng-template #saveIcon>
              <i class="fa fa-floppy-o fa-1x pull-right" (click)="onDiagnosisUpdated()"></i>
            </ng-template>
          </div>
        </h3>
      </div>
    </div>
    <!--DIAGNOSIS TEXT-->
    <div class="row">
      <div *ngIf="!editMode; then diagnosis else editDiagnosis"></div>
      <ng-template #diagnosis>
  <textarea disabled class="diagnosis-text" rows="10">
  {{currentDiagnosis}}
  </textarea>
      </ng-template>
      <ng-template #editDiagnosis>
  <textarea type="text"
            rows="10"
            required
            [(ngModel)]="currentDiagnosis"
            class="edit-mode diagnosis-text"
            #diagnosisInput
            name="descriptionInput">
  {{currentDiagnosis}}
  </textarea>
      </ng-template>
    </div>
  </div>
</div>
