<div align="center">
  <div *ngIf="$loadedExercise | async as loadedExercise" class="card">
    <div class="card-body">
      <h3 class="card-title center">{{loadedExercise.title}} </h3>
      <div class="row">
        <div class="col-4">
          <h5>Category</h5>
          <p>{{loadedExercise.category}}</p>
        </div>
        <div class="col-4">
          <h5>Description</h5>
          <p>{{loadedExercise.description}}</p>
        </div>
        <div class="col-4">
          <h5>Repetition</h5>
          <p>{{loadedExercise.repetition}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
