<div>
  <div *ngIf="$loadedExercise | async as loadedExercise" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"> <u> Title:</u> {{loadedExercise.title}} </h5>
      <br>
      <h6 class="card-subtitle"> <u> Category:</u> {{loadedExercise.category}} </h6>
      <br>
      <p class="card-text"> <u> Description:</u>
        <br>
        {{loadedExercise.description}}</p>
      <p class="card-text"> <u> Repetition:</u>
        {{loadedExercise.repetition}}</p>
    </div>
  </div>
</div>
