<p>
  manage-clients-contact-information works!
</p>


<div class="container">

  <div class="row" style="text-align:left">

    <!--Profile icon-->
    <div class="col-md-3">
      <i class="fa fa-user" style="font-size: 150px"></i>
    </div>

    <!--Contact Information-->
    <div class="col-md-9 card">
      <h3>Client
        <i class="fa fa-edit pull-right"
        (click)="edit()"></i>
      </h3>
      <h5>Address: <input></h5>
      <h5>Phone number: <input></h5>
      <h5>Email: <input></h5>
    </div>
  </div>

</div>
