
@import "../../../../../styles";

.contactInfo {
  color: $rehab-blue;
  text-decoration: underline;
}

.marginLeft {
  margin-left: 5%;
}

.marginRight {
  margin-right: 2%;
}

.marginBottom {
  margin-bottom: 2%
}
