<!--Mode-->
<div *ngIf="!editMode; then contactInformation else editContactInformation"></div>

<!--SAVED-->
<ng-template #contactInformation>
  <div class="card col-md-12">
    <div class="row">
      <div class="card-body col-md-10">

      <!--Contact info-->
        <!--NAME-->
        <div class="row">
          <h5 class="headline-margin">Name:</h5>
          <h5 class="contactInfo">{{selectedClient.fullName}}</h5>
        </div>
        <!--Address-->
        <div class="row">
          <h5 class="headline-margin">Address:</h5>
          <h5 class="contactInfo">{{selectedClient.address}}</h5>
        </div>
        <!--Phone Number-->
        <div class="row">
          <h5 class="headline-margin">Phone number:</h5>
          <h5 class="contactInfo">{{selectedClient.phone}}</h5>
        </div>
        <!--Email-->
        <div class="row">
          <h5 class="headline-margin">Email:</h5>
          <h5 class="contactInfo">{{selectedClient.email}}</h5>
        </div>
      </div>

      <!--EDIT btn-->
      <div class="col-md-2">
        <i class="fa fa-edit fa-2x pull-right clickable edit-button"
           (click)="toggleEdit()"></i>
      </div>
    </div>
  </div>
</ng-template>

<!--EDIT-->
<ng-template #editContactInformation>
  <div class="card col-md-12">
    <div class="row marginLeft">
      <div class="card-body col-md-10 marginBottom">

        <form novalidate #contactInformationForm="ngForm">

          <!--Name-->
          <h4>Name: </h4>
          <input type="text"
                 #emailInput="ngModel"
                 required
                 name="nameInput"
                 id="nameInput"
                 [(ngModel)]="selectedClient.fullName">

          <!--Address-->
          <h4>Address: </h4>
          <input type="text"
                 #addressInput="ngModel"
                 required
                 id="addressInput"
                 name="addressInput"
                 [(ngModel)]="selectedClient.address">

          <!--Phone-->
          <h4>Phone: </h4>
          <input type="text"
                 #phoneInput="ngModel"
                 required
                 name="phoneInput"
                 id="phoneInput"
                 [(ngModel)]="selectedClient.phone">

        </form>
      </div>

      <!--Save btn-->
      <div class="col-md-2">
        <i class="fa fa-floppy-o fa-2x clickable pull-right save-button"
           (click)="updateClientContactInformation()"></i>
      </div>
    </div>

  </div>
</ng-template>
