<h1>{{currentModel.fullName}}</h1>
<div class="row" style="text-align:left">
  <div class="col-md-12">
    <a class="list-group-item">

      <!--Contact Information-->
      <h3>
        <div *ngIf="!editMode; then editIcon else saveIcon"></div>
        <ng-template #editIcon>
          <i class="fa fa-edit pull-right" (click)="toggleEdit()"></i>
        </ng-template>
        <ng-template #saveIcon>
          <i class="fa fa-floppy-o pull-right"
             (click)="updateClientContactInformation()"></i>
        </ng-template>
      </h3>

      <div *ngIf="!editMode; then contactInformation else editContactInformation"></div>
      <ng-template #contactInformation>

        <h6>Address: {{currentModel.address}}</h6>
        <h6>Phone number: {{currentModel.phone}}</h6>
        <h6>Email: {{currentModel.email}}</h6>

      </ng-template>
      <ng-template #editContactInformation>
        <form novalidate #contactInformationForm="ngForm">

          <label for="addressInput">Name: </label>
          <input style="width: 50%"
                 type="text"
                 #emailInput="ngModel"
                 required
                 name="nameInput"
                 id="nameInput"
                 class="edit-mode"
                 [(ngModel)]="currentModel.fullName">
          <br>
          <label for="addressInput">Address: </label>
          <input style="width: 50%"
                 type="text"
                 #addressInput="ngModel"
                 required
                 id="addressInput"
                 name="addressInput"
                 class="edit-mode"
                 [(ngModel)]="currentModel.address">
          <br>
          <label for="addressInput">Phone: </label>
          <input style="width: 50%"
                 type="text"
                 #phoneInput="ngModel"
                 required
                 name="phoneInput"
                 id="phoneInput"
                 class="edit-mode"
                 [(ngModel)]="currentModel.phone">
        </form>
      </ng-template>
    </a>
  </div>
</div>

