<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--MANAGE-EXERCISES-CATEGORIES COMPONENT-->
      <!--TODO ALH: Replace-->
      <h1>Categories</h1>
      <ul>
        <li>Hands</li>
        <li>Feet</li>
        <li>Fingers</li>
      </ul>
    </div>
    <div class="col-md-3">
      <!--MANAGE-EXERCISES-LIST COMPONENT-->
      <h1>Exercises</h1>
      <rehab-manage-exercises-list (exerciseSelected)="selectedExercise = $event"></rehab-manage-exercises-list>
    </div>
    <div class="col-md-6">
      <!--MANAGE-EXERCISES-DETAIL COMPONENT-->
      <h1>Exercise</h1>
      <rehab-manage-exercises-detail *ngIf="selectedExercise"
                                     [currentExercise]="selectedExercise"></rehab-manage-exercises-detail>
    </div>
  </div>
</div>
