<h2>Exercises</h2>

<div class="list-group" *ngIf="$client | async as client">
  <div *ngFor="let exercise of client.rehabilitationPlan.exercises; let i = index">
    <div class="card clickable"
         (click)="onExerciseClick(exercise)">
      <div class="card-body">
        {{i + 1}}.
        <a class="list-group-item-action">
          <!--The exercise thumbnail-->
          <img src="{{exercise.imgUrl}}" alt="" style="float: left">
          <!--The Exercise list information-->
          <h5>{{exercise.title}}</h5>
        </a>
      </div>
    </div>
  </div>
</div>
