<h2>Exercises</h2>

<div class="list-group">
  <div *ngFor="let exercise of exercisesFromClient">
    <a class="list-group-item list-group-item-action" (click)="onExerciseClick(exercise)">
      <!--The exercise thumbnail-->
      <img src="{{exercise.imgUrl}}" alt="" style="float: left">
      <!--The Exercise list information-->
      <h5>{{exercise.title}}</h5>
      <h6>Category: {{exercise.category}}</h6>
      <h6>Description: {{exercise.description}}</h6>
      <h6>Reps: {{exercise.repetition}}</h6>
    </a>
  </div>
</div>
