/* You can add global styles to this file, and also import other style files */


$rehab-blue: #0164a7;
$rehab-dark-blue: #003a72;
$rehab-orange: #a75401;
$rehab-red: #ad2817;
$rehab-grey: #eee;
$rehab-green: #16ac16;

$primary: $rehab-blue;
$secondary: $rehab-orange;
$warning: $rehab-red;
$success: $rehab-green;
$body-bg: $rehab-grey;


@import "~bootstrap/scss/bootstrap";

h1, h3, h5 {
  color: $rehab-orange;
}

.fa-edit {
  color: $rehab-blue;
}

.fa-floppy-o {
  color: $rehab-green;
}

.card.selected {
  background-color: $rehab-blue;

  .card-title {
    color: white;
  }
}

.add-button {
  color: $rehab-green;
  margin-top: 2%
}

.delete-button {
  color: $warning;
  margin-top: 10%
}

.edit-button {
  color: $primary;
  margin-top: 10%;
}

.save-button {
  color: $success;
  margin-top: 10%;
}

.center {
  text-align: center;
}
.fa-edit {
  color: $rehab-blue;
}

.fa-floppy-o {
  color: $rehab-green;
}

.edit-mode {
  border-color: $secondary;
}

.clickable {
  cursor: pointer;
}
