/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

$rehab-blue: #1726f0;
$rehab-green: green;

.card.selected {
  background-color: $rehab-blue;

  .card-title {
    color: white;
  }
}

.add-button {
  color: $rehab-green;
}
